[Container]
Image=docker.io/itzg/minecraft-server:java21
PublishPort=25580:25580
PublishPort=25581:25581
UserNS=keep-id:uid=1000,gid=1000
UserNS=keep-id:uid=1000,gid=1000
Environment=UID=1000
Environment=GID=1000
Environment=TZ=Europe/Budapest
Environment=SERVER_PORT=25580
Environment=RCON_PORT=25581
Environment=ENABLE_QUERY=true
Environment=EULA=true
Environment=VERSION=1.21.4
Volume=lazymc-docker-proxy-tests-vanilla-mc.volume:/data

[Service]
Restart=no
Environment=LAZYMC_ENABLED=true
Environment=LAZYMC_GROUP=mc
Environment=LAZYMC_SERVER_ADDRESS=127.0.0.1:25580
Environment=LAZYMC_TIME_MINIMUM_ONLINE_TIME=30
Environment=LAZYMC_TIME_SLEEP_AFTER=5